[submodule "FitsObject"]
	path = FitsObject
	url = https://gitorious.org/generalcode/fitsobject.git
[submodule "Modelgen"]
	path = Modelgen
	url = git@github.com:mindriot101/ModelGeneration.git
[submodule "rgwtimer"]
	path = rgwtimer
	url = git@bitbucket.org:srwalker101/rgwtimer.git
